html, body {
    height: 100%;
  }
      .side{
          height: 100%;
          background-color:#81d4fa;
          width: 5%;
          float: left;
         position: fixed;
          
  
      }
      .side2{
          height: 100%;
          margin-left: 5%;
          position: relative;
          top: -100px;
      }
      .main{
          margin-left: 100px;
          margin-right: 50px;
         padding-top: 120px;
          
      }
      .main1{
          margin-left: 100px;
          margin-right: 50px;
          margin-top: 10px;
      
          
      }
      .title-main{
          margin-left: 40px;
          margin-right: 20px;
          position: relative;
          top: 100px;
          display: flex;
          flex-direction: row;
          
          
      }
      .kh{
        margin-right: 25px;
      }
      .title{
        width: 30%;
        position: relative;
        left: 40px;
    
      }